<%= provide(:title, 'Cities') %>
<div class="container">
  <div class="main">
    <h1>Welcome to The Cities</h1>
    <h2 class="intro">Find the City</h2>
    <%= link_to 'Sign up', signup_path, class:"btn" %>
  </div>
</div>
