= provide(:title, 'Edit Profile')
.container
  h1
    | Edit Profile
  .row
    .col-md-6
      = render 'shared/error_messages', object: @user
      = form_for @user, url: user_path(@user.id) do |f|
        .form
          = f.label "画像をアップロード"
          br
          = f.file_field :image
        .form
          = f.label :name
          = f.text_field :name, size: 40
        .form
          = f.label :email
          = f.text_field :email, size: 40
        .form
          = f.label :intro
          = f.text_area :intro, size: "40*100"
        .form
          = f.label :password
          = f.password_field :password, size: 40
        .form
          = f.label :password_confirmation, "Confirmation"
          = f.password_field :password_confirmation, size: 40
        .form
          = f.submit 'udpate', class: "btn"
