= provide(:title, @user.name)
.container
  .profiles
    .image
      = image user
    .name
      h1
        = @user.name
      p.break
        = @user.intro
  p
    = edit_user_link @user
  h2
    | 全ての投稿
  / .posts
    - @posts.each do |post|
      .post
        p = post.content
        - if post.image?
          p = image_tag post.image.thumb.url
        - end
        p = post.created_at
